.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); /* Odejmujemy wysokość nagłówka (np. 80px) */
  text-align: center;
  padding-top: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.login-button {
  display: inline-block; /* Zmień na inline-block, aby usunąć pełną szerokość */
  padding: 12px 24px; /* Dostosuj padding przycisku */
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #0078d7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 200px; /* Ustaw maksymalną szerokość przycisku */
  width: auto; /* Automatyczna szerokość */
  text-align: center; /* Centruj tekst w przycisku */
  margin: 20px auto 0; /* Wyśrodkuj przycisk i dodaj margines od góry */
  box-sizing: border-box; /* Upewnij się, że padding i border są wliczane w szerokość */
}

.login-button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}
